.header {
  display: flex;
  height: 4rem;
  padding: 0.8em 1em;
  background: rgb(24, 24, 24);
  color: white;
}

.logo {
  display: flex;
  align-items: center;
  margin-right: 1em;
}

.input {
  flex-basis: 100%;
  font-size: 1.2rem;
  outline: 0;
  background-color: rgb(24, 24, 24);
  color: white;
}

.input:hover {
  border: 1px solid rgb(0, 89, 255);
}

.button {
  background-color: rgb(50, 50, 50);
  outline: 0;
}

.buttonImg {
  height: 100%;
  padding: 0.5em 0.2em;
}
